<div *ngIf="apartment">

{{apartment.address | uppercase}}:
<br>

    Address: <input [(ngModel)]= "apartment.address"/>

<button type="submit" class="btn btn-primary" (click)="update()">Save</button> 
<br>
<br>
Delete this apartment
<button type="submit" class="btn btn-primary" (click)="delete()">Delete</button>
<br>
<br>
Clients in this apartment:
<ul *ngFor="let client of clients">
    <li>{{client.name}} {{client.surname}}</li>
</ul>
<br>
<br>
Rooms in this apartment:
<ul *ngFor="let room of rooms">
    {{room.description}}
</ul>
<br>
Insert a new room: <input [(ngModel)]="room.description"/>
        <button type="submit" class="btn btn-primary" (click)="insert()">Insert</button>