<!-- APARTMENTS TABLE -->
                        <h3 class="title-5 m-b-35">Azienda Cliente Table</h3>

                        <button (click)="insertLink()" class="au-btn au-btn-icon au-btn--green au-btn--small"> <i
                                    class="zmdi zmdi-plus"></i>ADD USER
                            </button>

                            <div class="table-responsive table-responsive-data2">
                                <table class="table table-data2">
                                    <thead>
                                        <tr>
                                            <!-- <th>Apartments</th> -->
                                            <th>Societa'</th>
                                            <th>Nome Utente</th>
			                                <th>Forma Giuridica</th>
			                                <th>Partita Iva</th>
			                                <th>Telefono</th>
			                                <th>Completamento Campi</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
