
<div class="container-fluid">
    
    <div class="row">
        <div class="col-md-12" >
            <app-header></app-header>
        </div>
    </div>
    


    <div class="row mt-1" style="min-height: 500px">
        <div class="col-md-4">
            <app-menu></app-menu>
        </div>

        <div class="col-md-8">
                <router-outlet></router-outlet>   
        </div>
    </div>

    <div class="row mt-1">
        <div class="col-md-12">
            <app-footer></app-footer>
        </div>
    </div
    >
</div>
