<div>

<table>
<th class="left">{{user.name | uppercase}}'S </th><th class="right">DETAILS</th>

<tr>
    <td>Id </td><td>{{user.id}}</td>
</tr>
<tr>
    <td>Name </td><td>{{user.name}}</td>
</tr>
<tr>
    <td>Surname </td><td>{{user.surname}}</td>
</tr>
<tr>
    <td>Birthdate </td><td>{{user.birthdate}}</td>
</tr>
<tr>
    <td>Username </td><td>{{user.username}}</td>
</tr>
<tr>
    <td>Password </td><td>{{user.password}}</td>
</tr>
<tr>
    <td>Usertype </td><td>{{user.userType}}</td>
</tr>
<tr>
    <td>Address </td><td>{{user.address}}</td>
</tr>
<tr>
    <td>E-mail </td><td>{{user.email}}</td>
</tr>
<tr>
    <td>Telephone </td><td>{{user.telnumber}}</td>
</tr>
<tr>
    <td>CCC </td><td>{{user.ccc}}</td>
</tr>
<tr>
    <td>Payement </td><td>{{user.paymentStatus}}</td>
</tr>
</table>

  <button (click)="goBack()">go back</button>
</div>
