/* table {
  border-collapse: collapse;
  width: 100%;
  background-color: white;
}

th{
   text-align: center;  
    padding: 8px;
      background-color: #27D8CA;
         color: white;
}
td {
  text-align: left;
  padding: 8px;
  width: 50%;
}

tr:nth-child(even){background-color: #f0f0f0}

.right{
    text-align: left;
}

.left{

    text-align: right;
} */