
<div *ngIf="room">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 style="text-align: center">{{room.description | uppercase}}</h2>
            </div>
        </div>   

        <div class="row">
            <div class="col-md-6">
                Room's description: <input [(ngModel)]= "room.description"/>
                <button type="submit" class="btn btn-primary" (click)="update()">Save</button> 
            </div>
            <div class="col-md-6">
                Delete this room
                <button type="submit" class="btn btn-primary" (click)="delete()">Delete</button>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-6">
               <h5>Things in this room:</h5>
                <ul *ngFor="let thing of things">
                    {{thing.description}}
                </ul>
                <h6>Insert a new thing:</h6> 
                <input [(ngModel)]="thing.description"/>
                <button type="submit" class="btn btn-primary" (click)="insert()">Insert</button>
            </div>
            <div class="col-md-6">
            </div>
        </div>
    </div>
</div>
