
<input [(ngModel)]="insapartment.address" style="margin-right: 5px"/>  <button type="submit" class="btn btn-primary" (click)="insert()">Insert</button> 

<ngb-accordion [closeOthers]="true" *ngFor="let apartment of apartments" (click)="select(apartment)" >
    
  <ngb-panel title="{{apartment.address}}">
     
   <ng-template ngbPanelContent >
       <app-room-dropdown *ngIf="selectedapt===apartment" [apartment]="selectedapt"></app-room-dropdown>
    </ng-template>
    
  </ngb-panel>
 
</ngb-accordion>