/* Main Layout */
body {
	font-family: sans-serif;
}

.header {
	text-align: center;
	padding: 5px;
	clear: both;
}

.main {
	width: 100%;
	font-size: 18px;
}

.footer {
	text-align: center;
	font-size: 100%;
	margin: 4%;
	clear: both;
}

/* headers */
h1 {
	position: center;
	text-align: center;
	size: 300%;
	font-family: sans-serif;
	color: #000000;
}

h2 {
	font-family: sans-serif;
	color: #000000;
}

/*Div layout*/




/* Anchors */
a {
	text-decoration: none;
}

.a {
	text-decoration: none;
}

a:link {
	color: #000000;
}

.a:link {
	color: #000000;
}

/* visited link */
a:visited {
	color: #000000;
}

.a:visited {
	color: #000000;
}


/*Tables*/

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: center;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #00a990;
  color: #ffffff;
}

a:hover {
	color: #999999;
}

/*IDs*/


#logout {
	float:right;
	color:#ffffff;
}

/*Navigation bar*/

.navbar {
	background:#00a990;
	overflow: hidden;
	position: sticky;
	width: 100%;
	top: 0;
	padding: 1px;
	z-index: 2;
	border-radius: 7px;
	
	
}

.navbar a {
	float: left;
	display: block;
	color: #ffffff;
	text-align: center;
	padding: 1% 2%;
	text-decoration: none;
	font-size: 17px;
	border-radius: 7px;
	background:#00a990;
}

.navbar a:hover {
	background: #00ccad;
	color: #ffffff;
}

.navbar a.active {
	background: #00ccad;
	color: #ffffff;
}




}