<title>Login DoSer</title>

<img class="log" alt="Logo" src="../assets/DoserLogo.svg">

		<form class="login" action="LoginServlet" method="post">

				<label for="user">Username: </label>
			
				<input type="text" id="user" name="username" placeholder="Insert username">
		
				<label for="pass">Password: </label>
			
				 <input type="password" id="pass" name="password" placeholder="Insert password">
		
            <button type="submit" value="Login" name="pulsante">Login</button>
            <a [routerLink]="['/register']" routerLinkActive="router-link-active" ><div class="register">Register here!</div></a>
		</form>
