<title>Login DoSer</title>

<img class="log" alt="Logo" src="../assets/DoserLogo.svg">

		<form class="login" #f="ngForm" >

				<label for="user">Username: </label>
			
				<input type="text" id="user" name="username" placeholder="Insert username" ngModel>
		
				<label for="pass">Password: </label>
			
				 <input type="password" id="pass" name="password" placeholder="Insert password" ngModel>
		
            <button type="submit" class="btn btn-primary" (click)="login(f)">Login</button>
            <a [routerLink]="['/register']" routerLinkActive="router-link-active" ><div class="register">Register here!</div></a>
		</form>
