<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
             <ngb-accordion [closeOthers]="true" >
                <ngb-panel title="Apartments">
                    <ng-template ngbPanelContent>
                        <app-apartment-dropdown></app-apartment-dropdown>
                    </ng-template>
                </ngb-panel>

                <ngb-panel title="Clients">
                    <ng-template ngbPanelContent>
                        <ul *ngFor="let client of clients">
                            {{client.name}} {{client.surname}}
                        </ul>
                        
                         <a [routerLink]="['client-registration']" routerLinkActive="router-link-active" > Register a new client</a>
                    </ng-template>
                </ngb-panel> 
            <ngb-panel title="Menu">
                    <ng-template ngbPanelContent>
                         <a [routerLink]="['/tutor-dashboard']" routerLinkActive="router-link-active" > Dashboard</a>
                            <br>
                            <a [routerLink]="['/tutor-dashboard/contract-conditions']" routerLinkActive="router-link-active" >Contract Conditions</a>
                            <br>
                         <a [routerLink]="['/login']" routerLinkActive="router-link-active" (click)="logout()"> Logout</a>
                    </ng-template>
                </ngb-panel> 
            </ngb-accordion>
        </div>   
    </div>
</div>