<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
             <ngb-accordion [closeOthers]="true" >
                <ngb-panel title="Apartments">
                    <ng-template ngbPanelContent>
                        <app-apartment-dropdown></app-apartment-dropdown>
                    </ng-template>
                </ngb-panel>

                <ngb-panel title="Clients">
                    <ng-template ngbPanelContent>
                         <a [routerLink]="['client-registration']" routerLinkActive="router-link-active" > Register a new client</a>
                    </ng-template>
                </ngb-panel> 
            </ngb-accordion>
        </div>   
    </div>
</div>