<div class="container" id="dashboard">
    <h3 style="text-align: center; padding-top: 10px">Dashboard</h3>
    <div class="row mt-2">
        <div class="col-md-6">
            <div class="card">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="img-square-wrapper">
                                <img class="" src="../../assets/ImmagineStan.png" alt="Card image cap">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="img-square-wrapper">
                                <img class="" src="../../assets/Immaginecuore.png" alt="Card image cap">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="img-square-wrapper">
                                <img class="" src="../../assets/ImmagineTerm.png" alt="Card image cap">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="img-square-wrapper">
                                <img class="" src="../../assets/ImmaginePeso.png" alt="Card image cap">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="img-square-wrapper">
                                <img class="" src="../../assets/ImmagineStan.png" alt="Card image cap">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="img-square-wrapper">
                                <img class="" src="../../assets/Immaginecuore.png" alt="Card image cap">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="img-square-wrapper">
                                <img class="" src="../../assets/ImmagineTerm.png" alt="Card image cap">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="img-square-wrapper">
                                <img class="" src="../../assets/ImmaginePeso.png" alt="Card image cap">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="img-square-wrapper">
                                <img class="" src="../../assets/ImmagineStan.png" alt="Card image cap">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="img-square-wrapper">
                                <img class="" src="../../assets/Immaginecuore.png" alt="Card image cap">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="img-square-wrapper">
                                <img class="" src="../../assets/ImmagineTerm.png" alt="Card image cap">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="img-square-wrapper">
                                <img class="" src="../../assets/ImmaginePeso.png" alt="Card image cap">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="img-square-wrapper">
                                <img class="" src="../../assets/ImmagineStan.png" alt="Card image cap">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="img-square-wrapper">
                                <img class="" src="../../assets/Immaginecuore.png" alt="Card image cap">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="img-square-wrapper">
                                <img class="" src="../../assets/ImmagineTerm.png" alt="Card image cap">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="img-square-wrapper">
                                <img class="" src="../../assets/ImmaginePeso.png" alt="Card image cap">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 