<!-- <div *ngIf="apartment" class="dropdown">
        <button class="dropbtn">Rooms</button>
        <div class="dropdown-content">
            <a *ngFor="let room of rooms" [routerLink]="['/tutor-dashboard/room', room.id]" 
                (click)="onSelect(room)">{{room.description}}</a>
            <input [(ngModel)]="insroom.description"/>
            <br>
            <button type="submit" class="btn btn-primary" (click)="insert()">Insert</button> 
        </div>
    </div> -->

    <p>

  <div class="dropdown-container">
       <div class="card card-body">
            <a *ngFor="let room of rooms" [routerLink]="['/tutor-dashboard/room', room.id]" 
                (click)="onSelect(room)">{{room.description}}</a>
            <input [(ngModel)]="insroom.description"/>
            <br>
            <button type="submit" class="btn btn-primary" (click)="insert()">Insert</button> 
        </div>
  </div>
